{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "plugin:react/recommended",
    "plugin:import/recommended",
    "plugin:import/typescript",
    "plugin:jest/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:typescript-sort-keys/recommended",
    "airbnb",
    "airbnb/hooks",
    "plugin:prettier/recommended"
  ],
  "ignorePatterns": ["**/lib/**", "**/tsconfig*"],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "jest", "jsx-a11y", "sort-keys-fix", "typescript-sort-keys", "prettier"],
  "rules": {
    "import/no-unused-modules": [
      "error",
      {
        "ignoreExports": ["src/**.test.ts"],
        "missingExports": true,
        "src": ["."],
        "unusedExports": true
      }
    ],
    "import/prefer-default-export": "off",
    "import/order": [
      "error",
      {
        "alphabetize": {
          "caseInsensitive": true,
          "order": "asc"
        },
        "groups": ["builtin", "external", "internal"],
        "pathGroups": [
          {
            "group": "external",
            "pattern": "react",
            "position": "before"
          }
        ],
        "pathGroupsExcludedImportTypes": ["react"]
      }
    ],
    "sort-keys": [
      "error",
      "asc",
      {
        "caseSensitive": false,
        "natural": true
      }
    ],
    "sort-keys-fix/sort-keys-fix": [
      "error",
      "asc",
      {
        "caseSensitive": false,
        "natural": true
      }
    ]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".ts"],
        "paths": ["."]
      }
    }
  }
}
